
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }


  
  
  * { color:#fff; text-decoration: none;}

  Necessary for full page carousel
  html,
  body,
  header,
  .view {
    height: 100%;
  }

  /* Carousel*/
  .carousel,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }

  #aboutme {
    
    position: relative;
    top: 75px;
    color: rgb(10, 1, 1); 
  }

  p {
    color: rgb(10, 1, 1); 
  }

  #roleTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 78px;
  color: rgb(10, 1, 1);
  }


  #nutshell {
    font-family: 'Dancing Script', cursive;
  }

  #Sneha {
    font-family: 'Dancing Script', cursive;
  }

  #astrafund {
    position: relative;
    padding-bottom: 33px;
  }

  #aladdinCard {
    position: relative;
    padding-bottom: 23px;
  }

  #astrafundButtonApp {
    position: relative;
    top: 14px;
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}


body {
line-height: 1.5;
background: #e5edef;

}

* {
box-sizing: border-box;
}

/* for the dancer section - Background color behind poloroid */
.content {
padding: 4em 3em 2em;
max-width: 1024px;
margin: 0 auto;
background: #cedcdf; 
}

img {
max-width: 100%;
}

h2 {
font-family: 'Mr Dafoe', cursive;
font-size: 2em;
text-align: center;
margin: .2em 0 0;
}

.step {
width: 100%;
float: left;
padding: 0 4%;
}

@media (min-width: 800px) {
.step {
  width: 33.333%;
}


.step--1 .pola {
transform: rotate(2deg);
}

.step--2 .pola {
transform: rotate(1deg);
}

.step--3 .pola {
transform: rotate(-3deg);
}
}

.step--2 {
padding-top: 2em;
}
.step--3 {
padding-top: 2em;
}

/* For the poloroid pic background */
.pola {
background: #fff;
padding: 1em;
margin-bottom: 2em;
position: relative;
max-width: 300px;
}

@media(min-width: 550px) {
.pola {
  float: left;
  margin-right: 2em;
  width: 45%;
}

}

@media(min-width: 800px) {
.pola {
  width: 100%;
}

}

.pola:before {
position: absolute;
content: '';
width: 3%;
height: 10%;
background: #e7aa48;
top: -6%;
left: 47%;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}


/*Contact Form */

